<header>
    <div class="navigation-container">
        <ul class="navigation-menu">
            <li class="navigation-item">
                <a class="navigation-link" href="/">Startseite</a>
            </li>
            <li class="navigation-item">
                <a class="navigation-link" href="/dashboard">Übersicht</a>
            </li>
            <li class="navigation-item">
                <a class="navigation-link" href="/about">Über Uns</a>
            </li>
        </ul>
    </div>
</header>