<section class="about-page-container">
  <h1>Über Active Together</h1>
  <p>
    Willkommen bei Active Together, Ihrer Plattform für die Entdeckung und
    Teilnahme an Sportaktivitäten in Ihrer Gemeinschaft. Egal, ob Sie einem
    lokalen Fußballteam beitreten, eine Laufgruppe finden oder einen neuen
    Fitnesskurs ausprobieren möchten, wir haben das Richtige für Sie.
  </p>

  <h2>Unsere Mission</h2>
  <p>
    Unsere Mission ist es, einen gesunden und aktiven Lebensstil zu fördern,
    indem wir Menschen mit Sportaktivitäten verbinden, die ihren Interessen und
    Fitnessniveaus entsprechen. Wir glauben, dass es mehr Spaß macht, aktiv zu
    bleiben, wenn man es gemeinsam tut, und wir bemühen uns, eine unterstützende
    und inklusive Gemeinschaft für alle zu schaffen.
  </p>

  <h2>Wie es funktioniert</h2>
  <ol>
    <li>
      Aktivitäten durchsuchen: Entdecken Sie eine Vielzahl von Sportaktivitäten
      in Ihrer Umgebung.
    </li>
    <li>
      Einer Gruppe beitreten: Finden und treten Sie Gruppen bei, die Ihren
      Interessen und Ihrem Zeitplan entsprechen.
    </li>
    <li>
      Aktiv bleiben: Nehmen Sie an Aktivitäten teil, lernen Sie neue Leute
      kennen und bleiben Sie motiviert.
    </li>
  </ol>

  <h2>Kontaktieren Sie uns</h2>
  <p>
    Wenn Sie Fragen haben oder Unterstützung benötigen, zögern Sie nicht, uns zu
    <a href="https://github.com/juliaschabasser/ActiveTogetherApp7"
      >kontaktieren</a
    >. Wir sind hier, um Ihnen zu helfen, aktiv und verbunden zu bleiben.
  </p>
</section>
