<div class="hero-section">
  <img src="assets/images/sport.jpeg" alt="Hero Image" class="hero-image" />
  <div class="hero-text">
    <h1 class="hero-title">Willkommen bei Active Together</h1>
    <p>Die Reise zu einem gesünderen Lebensstil beginnt hier.</p>
  </div>
</div>

<div class="courses-section">
  <h2>Alle Kurse</h2>
  <p>
    Entdecken Sie unser breites Angebot an Sportkursen für alle Leistungsstufen.
    Finden Sie den perfekten Kurs für sich und beginnen Sie Ihre Fitnessreise
    mit uns!
  </p>
  <div class="courses-button">
    <button mat-button routerLink="/dashboard">View Courses</button>
  </div>
</div>

<div class="register-button">
    <button mat-button (click)="openDialog()">Jetzt zum Kurs anmelden!</button>
  </div>
