mat-toolbar {
  background-color: #38bdf8;
}

::ng-deep mat-menu > a:hover {
  color: #38bdf8;
}

mat-menu-item {
  color: #38bdf8;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  color: white;
  border-radius: 0.25rem;
}

.navbar-title {
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 1rem;
  text-decoration: none;
}

.navbar-menu-icon {
  color: white;
}

.navbar-menu {
  color: white;
  transition: all 0.2s;
}

.navbar-menu a {
  color: black;
  border-radius: 0.25rem;
}

.navbar-menu a:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
