<div class="data-container">
  <div class="grid">
    <div class="row header-row row-cols-md-10 row-cols-sx-12">
      <div class="col">Kurs</div>
      <div class="col">Veranstaltungsort</div>
      <div class="col">Adresse des Veranstaltungsortes</div>
      <div class="col">Öffentlich erreichbar?</div>
      <div class="col">Kursleiter</div>
      <div class="col">Alle Termine</div>
    </div>

    <div
      *ngFor="let course of storeService.courses"
      class="row row-cols-md-10 row-cols-sm-12"
    >
      <div
        class="col truncate"
        #tooltip="matTooltip"
        matTooltipPosition="above"
        [matTooltip]="course.name"
      >
        {{ course.name }}
      </div>
      <div
        class="col truncate"
        #tooltip="matTooltip"
        matTooltipPosition="above"
        [matTooltip]="course.eventLocation.name"
      >
        {{ course.eventLocation.name }}
      </div>
      <div
        class="col truncate"
        #tooltip="matTooltip"
        matTooltipPosition="above"
        [matTooltip]="course.eventLocation.address"
      >
        {{ course.eventLocation.address }}
      </div>
      <div
        class="col truncate"
        #tooltip="matTooltip"
        matTooltipPosition="above"
        [matTooltip]="
          course.eventLocation.venueByPublicTansport == true ? 'Ja' : 'Nein'
        "
      >
        {{ course.eventLocation.venueByPublicTansport == true ? "Ja" : "Nein" }}
      </div>
      <div
        class="col truncate"
        #tooltip="matTooltip"
        matTooltipPosition="above"
        [matTooltip]="course.instructor"
      >
        {{ course.instructor }}
      </div>
      <div class="col truncate">
        <ul>
          <li class="truncate" *ngFor="let date of course.dates">
            <span
              #tooltip="matTooltip"
              [matTooltip]="
                date.begin
                  | date
                    : 'MMM dd, yyyy \'um\' hh:mm a' +
                        ' - ' +
                        (date.end | date : 'MMM dd, yyyy \'um\' hh:mm a')
              "
              matTooltipPosition="above"
              >{{ date.begin | date : "MMM dd, yyyy 'um' hh:mm a" }} -
              {{ date.end | date : "MMM dd, yyyy 'um' hh:mm a" }}</span
            >
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
